body{
    overflow-y: hidden
}
/**Begin Data Acess Modal**/
#newDataAccessModal{
	width: 100%;
}
.dataAccessModal{
	width: 100%;
}
#newDataAccessModal .modal-dialog{
	max-width: 90%;
    margin: 1.75rem auto;
}
/**End Data Acess Modal**/
#PropModal{
    width: 100%;
}
.propModal{
    width: 80%;
}
#PropModal .modal-dialog {
    max-width: 75%;
    margin: 1.75rem auto;
}
#PropModal .EventTrigerButton{
    margin-bottom: 15px;
}


#Init_Event_From , #Periodic_Event_From , #Data_Received_From , #Operation_Invoked_From ,
#Events_Properties, #Ports_Properties , #Runnable_Properties , #DataElement , #Ports_Info_Form ,
#Init_Runnable_From , #Periodic_Runnable_From , #DataReceived_Runnable_From , #OperationInvoked_Runnable_From,
#Ports_Info_Form_SenderServer , #Ports_Info_Form_ReceiverClient{
    display: none;
}
#PropModal .form-control {
    width:60%;
}
#PropModal .Port_S {
    width:70%;
    border-radius: 0px;
    margin-bottom: 15px;
}


.sidebar_index > button {
	width: 100%;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;

    @include hover-focus {
      color: inherit;
      text-decoration: none;
    }

    &:focus {
      outline: 0;
    }
  }

.active_color{
    color: #FFF !important;
}

#key-map {
	top: 10%;
    right: 30px;
    position: absolute;
    opacity: 0.5;
}
#key-map span {
	margin-right: 15px;
}
#key-map span:before {
	content: '_';
	padding: 0;
	color: transparent;
	display: inline-table;
	margin-right: 5px;
	margin-bottom: 0px;
	line-height: 10px;
}
#key-map span.sender:before {
	background: #66bb6e;
}
#key-map span.reciver:before {
	background: #90caf9;
}
#key-map span.server:before {
	background: #f44336;
}
#key-map span.client:before {
	background: #d4e157;
}
#key-map span.client {
	margin-left: 5px;
}

.responsive-width {
    font-size: 0.8vw;
}

.responsive-width-data {
    font-size: 1.2vw;
}