	<!--New Component Modal-->
	<div class="modal fade" id="newSoftwareComponentModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
						<h5 class="modal-title text-primary">
							Add new SWC
							<div class="text-muted" style="font-size: 13px">
								You can add infinty number with SWC, Please dont use spacial charachters on name of SWC
							</div>
						</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Software Component name</label>
						<input type="text" id="component_name" class="form-control" name="component_name">
				</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-success save-software-component">Create SWC</button>
				</div>
			</div>
		</div>
	</div>