	<!--Rename Project Modal-->
	<div class="modal fade" id="renamesProjectModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" style="display: block; margin-right: 10px">Rename project</h2>
					<h6 class="modal-title" >Please select project to rename</h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
					<div class="col-12">
						<select class="form-control"></select>
						<input>
					</div>
				</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-danger delete_project">Rename project</button>
				</div>
			</div>
		</div>
	</div>