	<!--Data Types Modal-->
	<div class="modal fade" id="DataTypesWindowModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Data Types and Data Elements<h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="col-lg">
						<div class="col-lg">
							<div class="items">
								<div class="col-md">
									<label><strong>Data Types</strong></label> <br>
									<input type="checkbox" id="Boolean" value="Boolean"> Boolean<br>
									<input type="checkbox" id="UnsignedInteger_8" value="UnsignedInteger_8"> UnsignedInteger_8<br>
									<input type="checkbox" id="SignedInteger_8" value="SignedInteger_8" > SignedInteger_8<br>
									<input type="checkbox" id="UnsignedInteger_16" value="UnsignedInteger_16"> UnsignedInteger_16<br>
																<input type="checkbox" id="SignedInteger_16" value="SignedInteger_16"> SignedInteger_16<br>
									<input type="checkbox" id="UnsignedInteger_32" value="UnsignedInteger_32"> UnsignedInteger_32<br>
																<input type="checkbox" id="SignedInteger_32" value="SignedInteger_32"> SignedInteger_32<br>
																
									<input type="checkbox" id="UnsignedInteger_64" value="UnsignedInteger_64"> UnsignedInteger_64<br>
									<input type="checkbox" id="SignedInteger_64" value="SignedInteger_64"> SignedInteger_64<br>
									<input type="checkbox" id="Float" value="Float"> Float<br>
								</div>
							</div>
						</div>
						<div class="col-lg">
							<div class="items">
								<div class="col-md pre-scrollable" >
									<label><strong>Data Elements</strong></label> <br>
									<div class="row">
										<div class="col" id=allDataElementsNames style="background-color:yellow;">
											
										</div>
										 <div class="col" id=allDataElementsDtypes style="background-color:pink;">
											
										</div>										
								    </div>
								</div>
							</div>
						</div>						
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-success save-datatypes">Save DataTypes</button>
				</div>
			</div>
		</div>
	</div>
