	<!--Delete Runnable Modal-->
	<div class="modal fade" id="deleteRunnableModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title text-danger" style="display: block; margin-right: 10px">
						Delete Runnable
						<div class="text-muted" style="font-size: 13px">Please select runnable to delete</div>
					</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
					<div class="col-12">
						<select class="form-control" id="delete_runnable_select"></select>
					</div>
				</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-danger delete_runnable">Delete Runnable</button>
				</div>
			</div>
		</div>
	</div>	